<phpunit
    bootstrap="./bootstrap.php.dist"
    backupGlobals="false"
    processIsolation="false"
    colors="false">
    <testsuites>
        <testsuite name="header">
            <directory suffix="Tests.php">./tests/PHPUnit</directory>
        </testsuite>
    </testsuites>
    <groups>
        <include></include>
        <exclude></exclude>
    </groups>
    <filter>
        <whitelist>
            <directory suffix=".php">php</directory>
            <exclude></exclude>
        </whitelist>
    </filter>
    <php>
        <ini name="error_reporting" value="32767" />
        <ini name="display_errors" value="1" />
        <ini name="display_startup_errors" value="1" />
    </php>
</phpunit>